@use "../../../styles/tokens" as t;

.toast {
    position: fixed;
    z-index: 100;
    bottom: calc(var(--bottom-bar-h) + 1.5rem);
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    gap: 0.75rem;
    align-items: center;

    min-width: 300px;
    padding: 0.75rem 1.25rem;
    border: 1px solid rgb(255 255 255 / 10%);
    border-radius: var(--radius);

    color: white;

    background-color: var(--c-primary-dark);
    box-shadow: 0 4px 20px rgb(0 0 0 / 40%);

    animation: slideUpFade 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

.icon {
    font-size: 1.25rem;
}

.content {
    display: flex;
    flex-direction: column;
}

.title {
    margin: 0;
    font-size: 0.9rem;
    font-weight: 700;
}

.subtitle {
    margin: 0;
    font-size: 0.75rem;
    color: rgb(255 255 255 / 70%);
}

@keyframes slideUpFade {
    from {
        transform: translate(-50%, 20px);
        opacity: 0;
    }

    to {
        transform: translate(-50%, 0);
        opacity: 1;
    }
}
