@use "../../../styles/tokens" as t;

.toast {
    position: fixed;
    bottom: calc(var(--bottom-bar-h) + 1.5rem);
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--c-primary-dark);
    color: white;
    padding: 0.75rem 1.25rem;
    border-radius: var(--radius);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    gap: 0.75rem;
    z-index: 100;
    min-width: 300px;
    animation: slideUpFade 0.4s cubic-bezier(0.16, 1, 0.3, 1);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.icon {
    font-size: 1.25rem;
}

.content {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 0.9rem;
    font-weight: 700;
    margin: 0;
}

.subtitle {
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.7);
    margin: 0;
}

@keyframes slideUpFade {
    from {
        opacity: 0;
        transform: translate(-50%, 20px);
    }

    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}
