@use "../../../styles/mixins" as *;

.pageContainer {
  padding-bottom: 80px;
}

.modeHeader {
  margin-bottom: var(--sp-6);
  color: var(--c-muted-strong);
  text-align: center;
}

.modeText {
  margin-bottom: var(--sp-2);
  font-size: 0.9rem;
}

.cartBadge {
  padding: 2px 8px;
  border-radius: 12px;

  font-size: 0.75rem;
  font-weight: bold;
  color: var(--c-accent-content);

  opacity: 0.6;
  background-color: var(--c-accent-base);
}
