.toggle {
  cursor: pointer;

  display: flex;
  gap: 0.5rem;
  align-items: center;

  padding: 0.25rem 0.5rem;
  border: 1px solid rgb(255 255 255 / 20%);
  border-radius: 99px;

  background: rgb(255 255 255 / 10%);

  transition: background 0.2s;

  &:hover {
    background: rgb(255 255 255 / 15%);
  }
}

.label {
  font-size: 0.75rem;
  font-weight: 600;
  color: rgb(255 255 255 / 60%);
  transition: color 0.3s;

  &.active {
    color: white;
  }
}

.track {
  position: relative;

  width: 2.5rem;
  height: 1.25rem;
  padding: 2px;
  border-radius: 99px;

  background-color: rgb(0 0 0 / 30%);
}

.thumb {
  position: absolute;
  left: 2px;

  width: 1rem;
  height: 1rem;
  border-radius: 50%;

  background-color: var(--c-accent-base);

  transition: transform 0.3s cubic-bezier(0.16, 1, 0.3, 1);

  &.thumbRight {
    transform: translateX(1.25rem);
  }
}
