// components/ui/Input/Input.module.scss
@use "../../../styles/forms" as f;
@use "../../../styles/mixins" as *;

.container {
  display: flex;
  flex-direction: column;
  /* Tighter gap between label and input */
  gap: 0.25rem;
}

/* Labels */
.label {
  @include f.label-base;
}

/* Inputs Base */
.input {
  @include f.input-base;

  @include respond-to('md') {
    max-width: 100%;
  }
}

/* Variants (Applied via container class inheritance or direct class) */
.dark {
  .label {
    @include f.label-variant-dark;
  }

  .input {
    @include f.input-variant-dark;
  }
}

.light {
  .label {
    @include f.label-variant-light;
  }

  .input {
    @include f.input-variant-light;
  }
}

/* Special modifiers */
.volumeInput {
  /* Specific width for volume inputs */
  width: 8rem;
  font-weight: 700;
  font-size: 1.125rem;
  text-align: center;
  padding-inline: 0.5rem;
}
