// components/ui/Input/Input.module.scss
@use "../../../styles/forms" as f;
@use "../../../styles/mixins" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  position: relative;
}

/* Labels */
.label {
  @include f.label-base;
}

/* Inputs Base */
.input {
  @include f.input-base;

  @include respond-to('md') {
    max-width: 100%;
  }
}

/* Error Message */
.errorMessage {
  font-size: var(--fs-xs);
  margin-top: 0.1rem;
  animation: slideDown 0.2s ease-out forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Variants */
.dark {
  .label {
    @include f.label-variant-dark;
  }

  .input {
    @include f.input-variant-dark;
  }

  .errorMessage {
    color: var(--c-error-text-on-dark);
  }
}

.light {
  .label {
    @include f.label-variant-light;
  }

  .input {
    @include f.input-variant-light;
  }

  .errorMessage {
    color: var(--c-error-text);
  }
}

/* Special modifiers */
.volumeInput {
  width: 8rem;
  font-weight: 700;
  font-size: 1.125rem;
  text-align: center;
  padding-inline: 0.5rem;
}
