@use './variables' as *;
@use './mixins' as *;

html, body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  background: #fafafa;
  color: #111;
}

a {
  color: inherit;
  text-decoration: none;
}
